# --- VS Code & TerosHDL ---
.vscode/
.teros/
*.vcd
*.gtkw
*.swp

# --- Cadence (Xcelium/Genus/Innovus) ---
xcelium.d/
INCA_libs/
*.shm/
*.dsn
*.trn
*.log
*.history
fv/
synthesis_output/
*.key
.simvision/

# --- Xilinx Vivado ---
*.jou
*.log
*.pb
*.wdb
xsim.dir/
.Xil/
*.str
project_*/

# --- Lattice (Diamond/Radiant) ---
*.sty
*.jed
*.bit
*.l1
*.l2
*_tcr.dir/
impl1/